body {
    background:lightsalmon;
    font-family: Arial, Helvetica, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
} 

.assignment {
    width:45%;
    display:flex;
    padding: 10px 25px;
    margin:10px;
    background: lightgrey;
}

.assignment img {
    width:200px;
    margin:30px;
    border: 4px dotted lightgray;
    display:block;
    margins:auto;
}

.assignment img:hover {
    border: 4px dotted green;
}

h1 {
    color:#b8860b;
    text-align: center;
}


a {
    text-decoration:none;
    color:#DAA520;
}

a:hover {
    color:#b8860b;
}